@use './functions' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: rem(30);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
